@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@theme {
  /* using the hsl color method */
  --color-marine-bluet: 213, 96%, 18%;
  --color-purplish-blue: 228, 100%, 84%;
  --color-pastel-blue: 206, 94%, 87%;
  --color-light-blue: 206, 94%, 87%;
  --color-strawberry-red: 354, 84%, 57%;

  --color-cool-gray: 231, 11%, 63%;
  --color-light-gray: 229, 24%, 87%;
  --color-magnolia: 217, 100%, 97%;
  --color-alabaster: 231, 100%, 99%;
  --color-white: 0, 0%, 100%;

  --font-ubuntu: "Ubuntu", sans-serif;
}
